NEXT_PUBLIC_RIDER_IOS_APP_STORE_URL=https://apps.apple.com/app/id6761512910
NEXT_PUBLIC_DRIVER_IOS_APP_STORE_URL=https://apps.apple.com/app/id6761512563
NEXT_PUBLIC_RIDER_ANDROID_PLAY_URL=https://play.google.com/store/apps/details?id=nl.heycaby.rider.app
NEXT_PUBLIC_DRIVER_ANDROID_PLAY_URL=https://play.google.com/store/apps/details?id=nl.heycaby.driver.app
